@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 50 60% 95%;
    --foreground: 160 25% 16%;

    --card: 46 70% 92%;
    --card-foreground: 160 25% 16%;

    --popover: 50 60% 95%;
    --popover-foreground: 160 25% 16%;

    --primary: 160 25% 16%;
    --primary-foreground: 46 70% 87%;

    --secondary: 100 12% 51%;
    --secondary-foreground: 160 25% 16%;

    --muted: 100 12% 80%;
    --muted-foreground: 100 10% 38%;

    --accent: 27 56% 46%;
    --accent-foreground: 50 60% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 100 12% 72%;
    --input: 100 12% 72%;
    --ring: 160 25% 16%;

    --radius: 0.5rem;

    --sidebar-background: 160 25% 16%;
    --sidebar-foreground: 46 70% 87%;
    --sidebar-primary: 46 70% 87%;
    --sidebar-primary-foreground: 160 25% 16%;
    --sidebar-accent: 160 20% 22%;
    --sidebar-accent-foreground: 46 70% 87%;
    --sidebar-border: 160 20% 22%;
    --sidebar-ring: 27 56% 46%;
  }

  .dark {
    --background: 163 20% 8%;
    --foreground: 46 70% 87%;

    --card: 160 25% 12%;
    --card-foreground: 46 70% 87%;

    --popover: 160 25% 12%;
    --popover-foreground: 46 70% 87%;

    --primary: 46 70% 87%;
    --primary-foreground: 160 25% 16%;

    --secondary: 100 12% 25%;
    --secondary-foreground: 46 70% 87%;

    --muted: 100 12% 20%;
    --muted-foreground: 100 10% 55%;

    --accent: 27 56% 46%;
    --accent-foreground: 46 70% 87%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 160 20% 18%;
    --input: 160 20% 18%;
    --ring: 46 70% 87%;
    --sidebar-background: 163 20% 6%;
    --sidebar-foreground: 46 70% 87%;
    --sidebar-primary: 27 56% 46%;
    --sidebar-primary-foreground: 46 70% 87%;
    --sidebar-accent: 160 20% 12%;
    --sidebar-accent-foreground: 46 70% 87%;
    --sidebar-border: 160 20% 12%;
    --sidebar-ring: 27 56% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
